# list
#datatype
#multiple store

In [2]:
#ordered => index position
mylist = [10,20,30]
mylist.append (40)
print(mylist)

[10, 20, 30, 40]

In [3]:
#ordered => index position 
mylist = [10,20,30,]
mylist.append("hey")
print(mylist)

[10, 20, 30, 'hey']

In [5]:
##ordered => index position 
mylist = [10,20,30,]
mylist.extend("hey")
mylist.extend(["hey"])        #extend take iterable value  
print(mylist)

[10, 20, 30, 'h', 'e', 'y', 'hey']

In [7]:
print(mylist)
mylist.pop()
print(mylist)

[10, 20, 30, 'h', 'e', 'y', 'hey']
[10, 20, 30, 'h', 'e', 'y']

In [10]:
print(mylist)
x = mylist.pop(2)
print(mylist,x)

[10, 20, 'e', 'y']
[10, 20, 'y'] e

In [11]:
mylist = [10,2,3,4,2,1,12]
mylist.sort()
print(mylist)

[1, 2, 2, 3, 4, 10, 12]

In [12]:
mylist = [10,2,3,4,2,1,12]
for i in mylist:
    print(i)

10
2
3
4
2
1
12

#### showing indexing with the list

In [14]:
mylist = [10,2,3,4,2,1,12]
for i in range (0,len(mylist)):
    print(i,mylist[i])

0 10
1 2
2 3
3 4
4 2
5 1
6 12

## 1 to 100 print and add into a list

In [2]:
mylist = []
for i in range (1,101):
    mylist.append(i)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## checking the input value is equal to the value of list

In [28]:
mylist = [10,40,30,40]
x = int(input("enter value "))
a = 0
for i in mylist:
    if(x==i):
        a = 1
        break

if (a == 1):
    print("value matched")
    
else:
    print("unmatched")

enter value  33

unmatched

## counting the list for the given value

In [29]:
mylist = [40,20,30,40]
x = 40
count = 0
for i in range(0,len(mylist)):
    if(x==mylist[i]):
        count = count+1 
print(count)

2

In [48]:
mylist = [10,20,10,30,10,10,40,40]
x = mylist[0]
count = 1
for i in range(1,len(mylist)):
    if(x==mylist[i]):
        count = count+1 
print(count)

4

In [14]:
mylist = [10,20,10,30,10,10,40,40]
count = 0
for i in range (0,len(mylist)-2):
    for j in range (i+1,len(mylist)):
        if(mylist[i]==mylist[j]):
            count+=1
        
            print("---------")
  
print("count=>",count)

---------
---------
---------
---------
---------
---------
count=> 6

## prime number

In [35]:
num = int (input ("enter the value "))
x = 0
for i in range (2,num):
    if (num%i==0):
        x = 1
        break
        
if (x==0):
    print("prime")
else :
    print("not")

enter the value  1

prime

In [5]:
num = int(input("enter the number"))
x = 0
for i in range (2,num):
    if (num%i==0):
        x = 1
        break

if (x == 0 ):
    print("prime")

else :
    print("not")

enter the number 21

not

In [9]:
mylist = [10,20,1,0,10,30]
x = mylist [0]
count = 0
for i in range (0,len(mylist)):
    if x == mylist[i]:
        count+=1

print(count)

2