# tuple

In [1]:
x = 10,20,30
print(x[0:2],type(x))

(10, 20) <class 'tuple'>

In [3]:
x = 10,20,30,10,10
x.count(10)
print(x.index(30))

2

In [ ]:
# datatype 
#based on key and value pairs 
# key = >unique identifier 
# value => data
#duplicate values are allowed 
#indexing and slicing are allowed 
#different memory address so called immutable 
#if we have different memory address it will be called immutable . if didnt change then called mutuable 
# method of tuple 
#           count()
#            index()

In [6]:
x = (10,20,30)
print ( id(x))
x=x+(40,50)
print(id(x))
print(x)

2057119714176
2057119944832
(10, 20, 30, 40, 50)

# difference b/w list and tuple

In [ ]:
# difference betweeen list and tuple 
# list - mutuable ,[],slow as cpmaored to tuple (postion is change in list so ...)
# tuple - immutable ,() , faster the list

In [2]:
x = (10,20,30)
print(id(x))
x = x+(40,50)
print(id(x))
print(x)

1400074039040
1400073912544
(10, 20, 30, 40, 50)

# dictionary

In [8]:
#datatype 
#data based on key : value pair
#time complexity
#key  - unique identifier
#value - data
#value can be duplicate 
# {}
#{key : value ,key :value 2}
#no index position
#key should be of immutable position

##### functions

In [9]:
userdetail  = {100:"tushar",101:"aman"}
print(userdetail[100])
print(type (userdetail))

tushar
<class 'dict'>

In [13]:
userdetail  = {100:"tushar",101:"aman"}
# insert
userdetail  [102]="ujjwal"
# update 
userdetail  [100]="regex"

print (userdetail)

{100: 'regex', 101: 'aman', 102: 'ujjwal'}

In [16]:
#delete the data 
userdetail = {100: 'regex', 101: 'aman', 102: 'ujjwal'}
out  = userdetail.pop(101)
print(userdetail,out)

{100: 'regex', 102: 'ujjwal'} aman

In [17]:
userdetail

{100: 'regex', 102: 'ujjwal'}

In [18]:
out

'aman'

In [20]:
#delete the data 
userdetail = {100: 'regex', 101: 'aman', 102: 'ujjwal'}
out  = userdetail.popitem()
print(userdetail,out)
#popitem deletes the last key and value pair and return both key and value pair

{100: 'regex', 101: 'aman'} (102, 'ujjwal')

In [25]:
# .keys , .values  and .items 
userdetail = {100: 'regex', 101: 'aman', 102: 'ujjwal'}
print("keys:",userdetail.keys())
print("values:",userdetail.values())
print("keys and values:",userdetail.items())

keys: dict_keys([100, 101, 102])
values: dict_values(['regex', 'aman', 'ujjwal'])
keys and values: dict_items([(100, 'regex'), (101, 'aman'), (102, 'ujjwal')])

## update 
it updates the multiple value at the same time the value that is not in the dict then it also update the new list

In [26]:
userdetail = {100:"tushar",101:"aman"}
userdetail.update({100:15,107:"yash"})
print (userdetail)

{100: 15, 101: 'aman', 107: 'yash'}

In [27]:
dict = {"salary":100}
print(dict["salary"])
dict["salary"]+90

100

190

In [29]:
print(dict)
# it can't make any changes in the original dict because it can't assign

{'salary': 100}

In [33]:
dict = {"salary":100}
print(dict)
dict["salary"] = dict["salary"]+90
print(dict)
# only way to add the value

{'salary': 100}
{'salary': 190}

In [ ]:
dict = {10:1,11:1,12:1}
#{10:1,11:1} #dict [key] = value

In [40]:
dict = {}
for i in range (10,16):
    dict[i] = 1
print(d)

{10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1}

In [44]:
dict = {}
for i in range (10,16):
    if (i%2 ==0):
        dict[i] = 1
print(dict)

{10: 1, 12: 1, 14: 1}

In [46]:
"hey ura"
#{e:1 ,u:1 ,a:1}
d = {}
s = "hey ura"
for i in s:
    if(i=='a' or i=='e' or i=='i'or i=='0 'or i == 'u'):
        d[i] = 1

print(d)

{'e': 1, 'u': 1, 'a': 1}

In [47]:
d ={}
for i in "hey aru":
    if i in "aeiou":
        d[i] = 1
print(d)

{'e': 1, 'a': 1, 'u': 1}

In [49]:
x = {"salary":100}
if("salary" in x ):
    x["salary"] = x["salary"]+10  #update 

else :
    x["salary"] = 10   #insert

print(x)

{'salary': 110}

In [52]:
d ={}
for i in "heye ureaa":
    if i in "aeiou":
        if (i in d):
            d[i]+=1
        else:
            d[i] = 1
        
        
print(d)

{'e': 3, 'u': 1, 'a': 2}