 ## call by value and call by refernce

In [1]:
x = 50
print(id(x))

a = x
print(id(x)) , id(x),id(a))
a = 30

140731572236248
140731572236248

In [4]:
x = 50 
a = x
print("before change", id(x),id(a))
a = 30
print("after change ",id(x),id(a))

before change 140731572236248 140731572236248
after change  140731572236248 140731572235608

In [5]:
a = "a"
a = a
print(id(a),id(a))

140731572297280 140731572297280

## for loop

In [ ]:
# looping statemnt (for simple)
# for (int i = 0;  i<5;  i++)
# range (start,stop,[step = 1])

In [3]:
for i in range (1,7):
    print("hey",i)

hey 1
hey 2
hey 3
hey 4
hey 5
hey 6

In [4]:
for i in range (0,7):
    print("hey",i)

hey 0
hey 1
hey 2
hey 3
hey 4
hey 5
hey 6

In [5]:
for i in range (1,7,2):
    print("hey",i)

hey 1
hey 3
hey 5

In [7]:
for i in range (9,1,-2):
    print("hey",i)

hey 9
hey 7
hey 5
hey 3

In [9]:

for num in range (2,9,1):
    if (num%2==0):
        print("even",num)
    else:
        print("odd",num)

even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8

In [10]:
for i in range (2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
for i in range (97,55,-1):
    print(i)

97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56

In [34]:
a = 0
for num in range(2,9,1):
    print("before : a :", a,"num =>",num)
    a = a + num
    print("a:" ,a,"num => ", num)

before : a : 0 num => 2
a: 2 num =>  2
before : a : 2 num => 3
a: 5 num =>  3
before : a : 5 num => 4
a: 9 num =>  4
before : a : 9 num => 5
a: 14 num =>  5
before : a : 14 num => 6
a: 20 num =>  6
before : a : 20 num => 7
a: 27 num =>  7
before : a : 27 num => 8
a: 35 num =>  8

In [31]:
a = 0
for num in range (97,66,-1):
    a = a + num
print(" sum ",a)

 sum  2542

In [32]:
count = 0
for num in range (7,37):
    count+=1
    print("total", count)

total 1
total 2
total 3
total 4
total 5
total 6
total 7
total 8
total 9
total 10
total 11
total 12
total 13
total 14
total 15
total 16
total 17
total 18
total 19
total 20
total 21
total 22
total 23
total 24
total 25
total 26
total 27
total 28
total 29
total 30

In [35]:
a = 0
for num in range (11,53):
    if (num%2==0):
        a = a+num
print("sum",a)

sum 672

In [38]:
data = "jaipur"
for i in data:
    print(i)

j
a
i
p
u
r

In [44]:
data  = "jaipur rajasthan"
print(len(data))

for i in range(0,len(data)):
    print(i,data[i])

16
0 j
1 a
2 i
3 p
4 u
5 r
6
7 r
8 a
9 j
10 a
11 s
12 t
13 h
14 a
15 n