In [2]:
n = 8
for i in range(1,8):
    if (n%i==0):
        print("number divisible ",i)

number divisible  1
number divisible  2
number divisible  4

## factors

In [5]:
n= 15
for i in range(1,n+1):
    if (n%i == 0):
        print("factor of 10:",i)

factor of 10: 1
factor of 10: 3
factor of 10: 5
factor of 10: 15

In [6]:
n= 10
for i in range(1,n+1):
    if (n%i == 0):
        print("factor of 10:",i)

factor of 10: 1
factor of 10: 2
factor of 10: 5
factor of 10: 10

## prime number

In [8]:
n = int(input ("enter the number "))
advance = 0
for i in range(2,n):
    if (n%i==0 ):
        
        print("not a prime number ",n)
        advance = 1
        break

if (advance == 0):
    print("prime number ",n)

enter the number  21

not a prime number  21

In [6]:
indicator = 0
for x in range (1,10):
    if(x==5):
        indicator = 1
        break

    print("hello",x)

print("outside statement ",indicator )

hello 1
hello 2
hello 3
hello 4
outside statement  1

### for with else

don't use this because it only support in python

In [ ]:
Q1 Run a  for loop

In [2]:
n = 27
indicator = 0
for i in range(2,10):
    if (n%i==0):
        print(i)
        indicator = 1
        break

3

Q2) # take a number 40
#factor ka sum 
#2,4,5,8,10

In [11]:
s  = 0
for i in range (1,41):
    if (40%i==0):
        print(i)
        s = s+i

print(s)

1
2
4
5
8
10
20
40
90

## factorial of a number

In [6]:

fact = 1
for i in range(1,6):
    fact = fact*i

print(fact)

120

### fabonacci number

In [30]:
n = int(input("enter your number"))
a=0
b=1
print (a,b,end = ' ') 
count = 2

while count< n:
    c = a + b
    print(c, end = ' ') 
    a, b = b, c
    count += 1

enter your number 10

0 1 1 2 3 5 8 13 21 34