## nested loop

In [4]:
for i in range (1,5):
    print("student",i)
    for marks in range(1,6):
        print("subject marks =>",marks)

student 1
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 2
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 3
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 4
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5

In [5]:
for i in range (15,10,-1):
    print("student",i)
    for marks in range(1,6):
        print("subject marks =>",marks)

student 15
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 14
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 13
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 12
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5
student 11
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
subject marks => 5

In [9]:
for i in range (1,5):
    print("student",i)
    for marks in range(0,i): #i
        print("subject marks =>",marks)

student 1
subject marks => 0
student 2
subject marks => 0
subject marks => 1
student 3
subject marks => 0
subject marks => 1
subject marks => 2
student 4
subject marks => 0
subject marks => 1
subject marks => 2
subject marks => 3

In [12]:
for i in range (1,5):
    print("student",i)
    for marks in range(1,i+1):#i=1 (1,2)  2(1,3)
        print("subject marks =>",marks)

student 1
subject marks => 1
student 2
subject marks => 1
subject marks => 2
student 3
subject marks => 1
subject marks => 2
subject marks => 3
student 4
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4

In [33]:
for i in range (4,0,-1):
    print("student",i)
    for marks in range(i,5):
        print("subject marks =>",marks)

student 4
subject marks => 4
student 3
subject marks => 3
subject marks => 4
student 2
subject marks => 2
subject marks => 3
subject marks => 4
student 1
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4

In [36]:
for i in range (1,5):
    print("student",i)
    for marks in range(1,i+1):#i=1 (1,2)  2(1,3)
        print("subject marks =>",marks)
    print("-----tea time -----")

student 1
subject marks => 1
-----tea time -----
student 2
subject marks => 1
subject marks => 2
-----tea time -----
student 3
subject marks => 1
subject marks => 2
subject marks => 3
-----tea time -----
student 4
subject marks => 1
subject marks => 2
subject marks => 3
subject marks => 4
-----tea time -----

In [39]:
i = 1
for i in range(2,8):
    for j in range (1,11,1):
        print(i*j)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70

In [46]:
i = 1
for i in range(2,8):
    for j in range (10,0,-1):
        print(i*j,end = " ")

    print()

20 18 16 14 12 10 8 6 4 2
30 27 24 21 18 15 12 9 6 3
40 36 32 28 24 20 16 12 8 4
50 45 40 35 30 25 20 15 10 5
60 54 48 42 36 30 24 18 12 6
70 63 56 49 42 35 28 21 14 7

## patterns

In [51]:
for i in range (1,6):
    
    for j in range (1,6):
        print("*",end =  " ")
    print("")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [53]:
for i in range (1,5):
    
    for j in range (1,4):
        print("*",end =  " ")
    print("")

* * *
* * *
* * *
* * *

In [74]:
for i in range (2,5):
    
    for j in range (1,4):
        print(i,end =  " ")
    print("")

2 2 2
3 3 3
4 4 4

In [57]:
for i in range (2,5):
    
    for j in range (1,5):
        print(j,end =  " ")
    print("")

1 2 3 4
1 2 3 4
1 2 3 4

In [58]:
for i in range (2,5):
    
    for j in range (1,4):
        print(i,end =  " ")
    print("")

2 2 2
3 3 3
4 4 4

In [73]:
for i in range (2,5):
    
    for j in range (4,0,-1):
        print(j,end =  " ")
    print("")

4 3 2 1
4 3 2 1
4 3 2 1

In [62]:
for i in range (4,2,-1):
    
    for j in range (1,4):
        print(i,end =  " ")
    print("")

4 4 4
3 3 3

In [72]:
num = 0
for i in range (1,4):
    
    for j in range (1,5):
        num += 1
        print(num,end =  " ")
    print("")

1 2 3 4
5 6 7 8
9 10 11 12

In [78]:
for i in range (1,6):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print("*",end = "")

    print()

*
**
***
****
*****

In [84]:
for i in range (5,0,-1):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print("*",end = "")

    print()

*****
****
***
**
*

In [87]:
for i in range (1,6):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print("*",end = "")

    print()
for i in range (5,0,-1):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print("*",end = "")

    print()

*
**
***
****
*****
*****
****
***
**
*

In [91]:
for i in range (1,5):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print(i,end = "")

    print()

1
22
333
4444

In [96]:
num = 10
for i in range (1,4):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print(num,end = "")
        num +=1

    print()

10
1112
131415

In [100]:
num = 15
for i in range (1,4):
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print(num,end = "")
        num -=1

    print()

15
1413
121110

In [113]:

for i in range (1,4):
    num = 65
    for j in range(1,i+1):#i=1 (1,2)  2(1,3)
        print(chr(num),end = "")
        num+=1
        

    print()

A
AB
ABC

In [114]:
## noted point 
chr(65)

'A'

In [115]:
chr (86)

'V'

In [116]:
for i in range (1,4):
    for j in range(65,65+i):#i=1 (1,2)  2(1,3)
        print(chr(j),end = "")
        num+=1
        

    print()

A
AB
ABC