In [1]:
for i in range(1,5):
    x = 65
    for j in range(i,4):
        
        print(" ",end = '')
    for k in range(1,i+1):
        
        print(chr(x),end = '')
        x+=1
    print()

   A
  AB
 ABC
ABCD

In [6]:
for i in range(5,1,-1):
    for j in range(i):
        print(j,end = '')
   
    print()

5432
432
32
2

In [139]:
for i in range(1,5):
    x = 65
    for j in range (1,i+1):
        print(chr(x),end = " ")
        x += 1

    print()

A
A B
A B C
A B C D

In [3]:
for i in range(4):
    for j in range(4,i,-1):
        print(" ",end = " ")
    for k in range(i,-1,-1):
        print(chr(65+k),end = " ")
    print()

        A
      B A
    C B A
  D C B A

In [52]:
x = 70
for i in range(6,1,-1):
    for j in range (i,6):
        print(chr(x),end = ' ')
        x += 2

    print()

F
H J
L N P
R T V X

In [61]:
for i in range(1,5):
    for j in range(1,i+1):
        if (j%2 == 0):
            print("2",end = ' ')
        else :
            print("1",end =  ' ')

    print()

1
1 2
1 2 1
1 2 1 2

In [62]:
for i in range (6,1,-1):
    x = 10
    for j in range (i,6):
        print(x,end = ' ')
        x += 1

    print ()

10
10 11
10 11 12
10 11 12 13

In [6]:
for i in range(1,5):
    for j in range (1,i+1):
        print("*",end = " ")
        i+=1
    print()

*
* *
* * *
* * * *

In [12]:
for i in range(5,1,-1):
    for j in range (1,i):
        print("*",end = ' ')
        i+=1

    print()

* * * *
* * *
* *
*

In [20]:
for i in range(1,5):
    for j in range (i,4):
        print("-",end = " ")
        
    for k in range (1,i+1):
        print("*",end = " ")
    print()

- - - *
- - * *
- * * *
* * * *

In [29]:
for i in range (1,5):
    for j in range (1,i):
        print("-",end= " ")

    for k in range (i,5):
        print("*",end = " ")
    

    print()

* * * *
- * * *
- - * *
- - - *

In [30]:
for i in range (1,5):
    for j in range (1,i+1):
        print(i,end = ' ')
    
    print()

1
2 2
3 3 3
4 4 4 4

In [31]:
for  i in range (1,5):
    for j in range (1,i+1):
        print(j,end= " ")

    print()

1
1 2
1 2 3
1 2 3 4

In [32]:
num = 1
for  i in range (1,5):
    for j in range (1,i+1):
        print(num,end= " ")
        num+=1

    print()

1
2 3
4 5 6
7 8 9 10

In [33]:
num = 10
for  i in range (1,5):
    for j in range (1,i+1):
        print(num,end= " ")
        num-=1

    print()

10
9 8
7 6 5
4 3 2 1

In [47]:

for  i in range (1,5):
    x= 65
    for j in range (1,i+1):
        print(chr(x),end= " ")
        
        x+=1

    print()

A
A B
A B C
A B C D

In [48]:

for  i in range (1,5):
    x= 65
    for j in range (5,i,-1):
        print(chr(x),end= " ")
        
        x+=1

    print()

A B C D
A B C
A B
A

In [58]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end = " ")
        i+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [59]:
for i in range(6,1,-1):
    x = 65
    for j in range(1,i):
        print(chr (x),end = " ")
        x+=1
    print()

A B C D E
A B C D
A B C
A B
A

In [61]:
for i in range(6,1,-1):
    x = 69
    for j in range(1,i):
        print(chr (x),end = " ")
        x-=1
    print()

E D C B A
E D C B
E D C
E D
E

In [71]:
for i in range(0,6):
    for j in range(5,i,-1):
        print(j,end = " ")
        i-=1
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [77]:
for i in range(1,6):
    for j in range (1,i+1):
        if j%2==0:
            print("2",end= " ")
        else :
            print("1",end = " ")
        

    print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [78]:
for i in range(1,6):
    for j in range (1,i+1):
        if i%2==0:
            print("2",end= " ")
        else :
            print("1",end = " ")
        

    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [79]:
x = 70
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(x),end = " ")
        x+=2

    print()

F
H J
L N P
R T V X

In [135]:
num = 5
for i in range (1,5):
    for j in range(i,num):
        print("-",end= '')

    for k in range (1,i+1):
        print("*",end = " ")
        
    print()

----*
---* *
--* * *
-* * * *

In [137]:
num = 5
for i in range (5,0,-1):
    for j in range(i,num):
        print("-",end= '')

    for k in range (1,i+1):
        print("*",end = " ")
        
    print()

* * * * *
-* * * *
--* * *
---* *
----*

In [5]:
num = 5
for i in range (1,num+1):
    for j in range(i,num):
        print("-",end= ' ')

    for k in range (1,2*i):
        print("*",end = " ")

        
    print()

- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [3]:
num = 5
total = 2*num
for i in range (1,num+1):
    for j in range(1,i):
        print("-",end= ' ')

    for k in range (1,total):
        print("*",end = " ")
    total-=2
        
    print()

* * * * * * * * *
- * * * * * * *
- - * * * * *
- - - * * *
- - - - *

In [5]:
num = 5

total = 2*num
for i in range (1,num):
    for j in range(i,num):
        print("-",end= ' ')

    for k in range (1,2*i):
        print("*",end = " ")
  
    print()
total = 2*num
for i in range (1,num+1):
    for j in range(1,i):
        print("-",end= ' ')

    for k in range (1,total):
        print("*",end = " ")
    total-=2
        
    print()

- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *
- * * * * * * *
- - * * * * *
- - - * * *
- - - - *

In [6]:
num = 5

total = 2*num
for i in range (1,num+1):
    for j in range(1,i):
        print("-",end= ' ')

    for k in range (1,total):
        print("*",end = " ")
    total-=2
        
    print()
for i in range (1,num+1):
    for j in range(i,num):
        print("-",end= ' ')

    for k in range (1,2*i):
        print("*",end = " ")
   
    print()

* * * * * * * * *
- * * * * * * *
- - * * * * *
- - - * * *
- - - - *
- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [10]:
for i in range (1,5):
    for j in range (1,i+1):
        if j==1 or i==j or i==4:
            print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

*
* *
*   *
* * * *

In [187]:
for i in range (5,0,-1):
    for j in range (1,i+1):
        if i==j or j==1 or i==5:
            print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

* * * * *
*     *
*   *
* *
*

In [190]:
num = 5
for i in range (1,num+1):
    for j in range (1,num+1):
        if i==1 or j==i or j==5:
             print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

* * * * *
  *     *
    *   *
      * *
        *

In [126]:

for i in range (1,6):
    for j in range (1,6):
        if i==1 or i==j or j==1 or j==5 or i==5:
             print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

* * * * *
* *     *
*   *   *
*     * *
* * * * *

In [196]:
for i in range (1,6):
    for j in range (1,6):
        if i==1 or i==5 or j==1 or j==5:
             print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [13]:
for i in range (1,6):
    for j in range (1,6):
        if i==1 or j==i or j==5:
             print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

* * * * *
  *     *
    *   *
      * *
        *

In [129]:
num = 5 
for i in range (1,num+1):
    for j in range (i,num):
        print(" ",end = " ")

    for k in  range (1,2*i):
        print("*",end = ' ')

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [128]:
num = 5
total = num*2
for i in range(1,num+1):
    for j in range (1,i):
        print(" ",end = " ")
    for k in range (1,total):
        print("*",end = " ")
    total-=2
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [26]:
for i in range (4,1,-1):
    for j in range (1,i):
        print("-",end = " ")

    for k in range (i,5):
        print("*",end = " ")

    print()
for i in  range (5,1,-1):
    for j in range (i,5):
        print("-",end = " ")
    for k in range (1,i):
        print("*",end = " ")
    print()

- - - *
- - * *
- * * *
* * * *
- * * *
- - * *
- - - *

In [57]:
num = 5
for i in range (1,num+1):
    for j in range (i,num):
        print("-",end = "")
    for k in range (1,i+1):
        print("*",end = ' ')

    print()
for i in range (5,1,-1):
    for j in range (6,i,-1):
        print("-",end = "")
    for k in range (1,i):
        print("*",end = " ")
        
    print()

----*
---* *
--* * *
-* * * *
* * * * *
-* * * *
--* * *
---* *
----*

In [63]:
for i in range (1,7):
    for j in range (1,i):
        print(j,end = " ")

    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [86]:
for i in range (6,1,-1):
    for j in range (1,i):
        print(j,end = " ")
        j+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [104]:
for i in range (1,6):
    for j in range (1,i+1):
        if j==1 or i==j or i==5:
            print(j,end = " ")

        else :
            print(" ",end = " ")

    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [111]:
num = 5
for i in range (1,num+1):
    for j in range (5,i,-1):
        print("-",end = " ")

    for k in range (1,i*2):
        print(k,end = " ")

    print()

- - - - 1
- - - 1 2 3
- - 1 2 3 4 5
- 1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [116]:
num = 5
for i in range (1,num+1):
    for j in range (5,i,-1):
        print("-",end = " ")

    for k in range (1,i*2):
        print(i,end = " ")

    print()

- - - - 1
- - - 2 2 2
- - 3 3 3 3 3
- 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [6]:
for i in range (1,5):
    for j in range (i,5):
        print("-",end = "")
    for k in range (1,i+1):
        if k==1 or k==i or i==4:
            print("*",end = " ")

        else :
            print(" ",end = " ")
    print()

----*
---* *
--*   *
-* * * *

for i in range (1,5):
    for j in range (i,5):
        print("-",end = "")
    for k in range (1,i+1):
        if k==1 or k==i or i==4:
            print(k,end = " ")

        else :
            print(" ",end = " ")
    print()

In [30]:
for i in range (1,6):
    for j in range (1,i+1):
        if j==1 or i==j or i==5:
            print(j,end = " ")

        else :
            print(" ",end = " ")

    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [52]:
for i in range (5,0,-1):
    for j in range (1,i+1):
        if i==5 or i==j or j==1:
              print(i,end = " ")

        else :
            print(" ",end = " ")

    print()

5 5 5 5 5
4     4
3   3
2 2
1

In [52]:
for i in range (1,5):
    for j in range (1,i*2):
        if i==5 or j==i or j==1:
              print(i,end = " ")

        else :
            print(" ",end = " ")

    print()

1
2 2
3   3
4     4

In [72]:
num = 5
for i in range (1,num+1):
    for j in range (5,i,-1):
        print("-",end = " ")

    for k in range (1,i*2):
        print(k,end = " ")

    print()

for i in range (4,0,-1):
    for j in range (i,num):
        print("-",end = " ")

    for k in range (1,i*2):
        print(k,end = " ")

    print()

- - - - 1
- - - 1 2 3
- - 1 2 3 4 5
- 1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
- 1 2 3 4 5 6 7
- - 1 2 3 4 5
- - - 1 2 3
- - - - 1

In [75]:
num = 5
for i in range (5,1,-1):
    for j in range (i,num):
        print("-",end = " ")

    for k in range (1,i*2):
        print(k,end = " ")

    print()

num = 5
for i in range (1,num+1):
    for j in range (5,i,-1):
        print("-",end = " ")

    for k in range (1,i*2):
        print(k,end = " ")

    print()

1 2 3 4 5 6 7 8 9
- 1 2 3 4 5 6 7
- - 1 2 3 4 5
- - - 1 2 3
- - - - 1
- - - 1 2 3
- - 1 2 3 4 5
- 1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [82]:
num = 5

for i in range (5,1,-1):
    x = 65
    for j in range (i,num):
        print("-",end = " ")

    for k in range (1,i*2):
        print(chr(x),end = " ")
        x+=1
    print()

num = 5
for i in range (1,num+1):
    x= 65
    for j in range (5,i,-1):
        print("-",end = " ")

    for k in range (1,i*2):
        print(chr(x),end = " ")
        x+=1
    print()

A B C D E F G H I
- A B C D E F G
- - A B C D E
- - - A B C
- - - - A
- - - A B C
- - A B C D E
- A B C D E F G
A B C D E F G H I

In [116]:
for i in range (1,5):
    for j in range (i,5):
        print("-",end = "")
    for k in range (1,i+1):
        if k==1 or k==i :
            print("*",end = " ")

        else :
            print(" ",end = " ")
    print()
for i in range (5,0,-1):
    for j in range (5,i,-1):
        print("-",end = "")

    for k in range (1,i+1):
        if k==1 or k==i:
            print("*",end = " ")

        else :
            print(" ",end = " ")

    print()

----*
---* *
--*   *
-*     *
*       *
-*     *
--*   *
---* *
----*

In [7]:
for i in range (1,5):
    x= 65
    for j in range (i,5):
        print("-",end = "")
    for k in range (1,i+1):
        if k==1 or k==i :
            print(chr(x),end = " ")
            x+=1
        else :
            print(" ",end = " ")
    print()
for i in range (5,0,-1):
    x = 65
    for j in range (5,i,-1):
        print("-",end = "")
        
    for k in range (1,i+1):
        if k==1 or k==i:
            print(chr(x),end = " ")
            x+=2
        else :
            print(" ",end = " ")

    print()

----A
---A B
--A   B
-A     B
A       C
-A     C
--A   C
---A C
----A

In [53]:
num = 5
for i in range (1,num+1):
    for j in range(i,num):
        print("-",end= ' ')

    for k in range (1,2*i):
        if (k==1 or k==2*i-1 ):
            print("*",end = " ")
        
        else :
            print(" ",end = " ")
        
        
    print()

for i in range (4,0,-1):
    for j in range (5,i,-1):
        print("-",end = " ")

    for k in range (1,num*2):
        if (k==1 or k == 2*i-1):
            print("*",end = " ")

        else :
            print(" ",end = " ")

    print()

- - - - *
- - - *   *
- - *       *
- *           *
*               *
- *           *
- - *       *
- - - *   *
- - - - *

In [58]:
num = 5
for i in range (1,num+1):
    for j in range(i,num):
        print("-",end= ' ')

    for k in range (1,2*i):
        if (k==1 or k==2*i-1 or i==5):
            print("*",end = " ")
        
        else :
            print(" ",end = " ")
        
        
    print()

- - - - *
- - - *   *
- - *       *
- *           *
* * * * * * * * *